[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "published"]
	path = published
	url = https://github.com/kfrajer/kfrajer.github.io.git
	branch = master
